
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

.form{
    width: 60%;
    /* background: pink; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
    padding: 3rem 5rem;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}

@media (max-width: 768px){
    .form{
        width: 90%;
    }
}

.heading{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.input{
    padding: 1rem;
    border: 1px solid lightgray;
    
    font-size: 1.8rem;
    border-radius: 3px;
}

.text{
    margin: 1rem;
}

.submit{
    margin: 3rem 0;
    font-size: 1.8rem;
    color: white;
    background: green;
    padding: 1rem;
    cursor: pointer;
    border-radius: 3px;
}

.submit:hover{
    font-weight: 600;
}

.label{
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem 0;
    margin-top: 1rem;
    color: gray;
    font-weight: 600;
}

.textarea{
    width:100%;
    height: 20rem;
    resize: none;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid lightgray;
}


.button{
    padding: 1rem;
    font-size: 1.8rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.button:active{
    border-color: black;
}

.button:hover{  
    background: black;
    color:white;
}