
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.imgContainer{
    max-width: 30rem;
    height: 30rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 1rem;

}


.img{
    width: 100%;
    height: 100%;
}

.bar{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
    

}
.imgContainer:hover .bar{
    opacity: 1;
}
.text{
    padding: 1.5rem 2rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}